<div class="example-container">
  <h1>Novo Usuário</h1>
  <br />

  <mat-form-field>
    <input matInput placeholder="Nome" type="text" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="E-mail" type="email" />
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="CPF" type="number" />
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Selecione...">
      <mat-option value="option">DevOps</mat-option>
      <mat-option value="option">Front End</mat-option>
      <mat-option value="option">Back End</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Telefone" type="number" />
  </mat-form-field>

  <button id="btn-add" mat-raised-button color="primary">Cadastrar</button>
</div>
